#logo {
    background-color : ;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #336600;
}
li {
  float: left;
  display : block;
  padding : 5px 16px;
  color : orange;
}
i {
  color : orange;
  float : right;
  padding : 5px 26px;
  width : 20px;
}
#main {
    position : relative;
    height : 800px;
    width : 100%;
}
 #slide1{
    height : 700px;
    width : 100%;
}
#div {
    display : inline block;
    margin : 65px;
}
#div1 {
    float : left;
    border : 6px solid white;
    border-left : 80px solid white;
    border-bottom : 80px solid white;
}
#div2 {
    float : right;
    color : black;
    font-size : 35px;
    border : 6px solid white;
    text-shadow : 2px 7px 5px red;
}
#group {
    display : inline block;
    margin : 40px;
    padding : 30px;
}
#g2 {
    color : red;
    float : right;
    font-size : 20px;
    border-top : 90px solid white;
}
#g1 {
    float : left;
    margin-left : 30px;
}
#boat {
    display : flex;
    margin : 40px;
    padding : 30px;
}
#boat1 {
    margin-right : 300px;
  
    margin-left : 10px;
}
#boat2 {
}
#boat23 {
    display : flex;
    width : 50%;   
}
.footer1 {
    display : flex;
    width : auto;
    align-item : center;
    background-color : black;
    color : white;
    margin-top : 30px;
}
.footer2 {
    border-left : 100px solid black; 
    border-right : 150px solid black; 
}
.footer2 ul {
    list-style-type : none;
    line-height : 2.6;
    font-weight : 700;
    font-size : 20px;
}



